livre.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT livre (titre, annee, prix, couverture?) >
<!ELEMENT prix (devise?)>
<!ATTLIST livre auteurs IDREFS #REQUIRED >
<!ATTLIST livre langue CDATA #REQUIRED >
<!ELEMENT titre (#PCDATA) >
<!ELEMENT annee (#PCDATA) >
<!ELEMENT devise (#PCDATA) >
<!ELEMENT couverture (#PCDATA) >
